APP_NAME="Cloud-native Document Intelligence API"
ENVIRONMENT="local"
SUMMARIZATION_MODEL="sshleifer/distilbart-cnn-12-6"
HUGGINGFACE_HOME=".cache/huggingface"
MIN_TEXT_LENGTH_FOR_MODEL=80
MAX_SUMMARY_LENGTH=160
MIN_SUMMARY_LENGTH=30
