APP_NAME="Cloud-native Document Intelligence API"
ENVIRONMENT="local"
ENABLE_S3=false
S3_BUCKET_NAME=""
AWS_REGION="ap-northeast-2"
DATABASE_URL=""
SUMMARIZATION_MODEL="sshleifer/distilbart-cnn-12-6"
HUGGINGFACE_HOME=".cache/huggingface"
MIN_TEXT_LENGTH_FOR_MODEL=80
MAX_SUMMARY_LENGTH=160
MIN_SUMMARY_LENGTH=30
